@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("../assets/fonts/stylesheet.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, h1, h2, p, ul, li, button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 54px;
}

h2, h1 {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 100%;
  color: #222222;
}

.lato-small {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  padding-top: 30px;
  max-width: 470px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-promo {
  position: relative;
  background: black;
  transition: all 0.3s ease-in-out;
}

.header-promo-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
  padding: 13px 35px;
}

.close-promo {
  position: absolute;
  right: 15px;
  top: 10px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.header-main {
  padding-top: 30px;
  background: #FCEDEA;
}

.header-main-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 75px;
  align-items: center;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 60px;
  justify-content: left;
}

.header-main-additional {
  display: grid;
  grid-auto-flow: column;
  column-gap: 45px;
}

.menu-item-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
}
.menu-item-link:hover {
  color: #D05278;
  transition: all 0.3s ease-in-out;
}
.menu-item-link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 31%;
  top: -5px;
  width: 25.45px;
  height: 30px;
  background: url("../assets/icons/hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
.menu-item-link:hover::before {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.phone-btn {
  display: none;
}

.menu-item .active {
  color: #D05278;
}

@media (max-width: 1146px) {
  .header-main-wrapper {
    text-align: center;
    display: block;
  }
  .header-main {
    background: none;
    padding-bottom: 25px;
  }
  .menu {
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 25px;
  }
  .menu-item-link {
    font-size: 26px;
  }
  .header-main-additional {
    column-gap: 35px;
    justify-content: center;
    align-items: baseline;
    margin-top: 35px;
  }
  .header-promo {
    z-index: 10000;
  }
  .header-promo-text {
    line-height: 18px;
  }
  .logo-link img {
    position: relative;
  }
  .header-main-logo {
    position: relative;
    z-index: 100;
  }
  .header-main-logo::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -30px;
    background: rgb(245, 227, 224);
    width: 109%;
    height: 100%;
    padding: 50px;
  }
  .phone-btn {
    display: block;
    position: absolute;
    border: none;
    background: transparent;
    top: 5px;
    right: 0;
    padding: 12px 0;
    cursor: pointer;
  }
  .phone-btn .phone-burger {
    width: 35px;
    background: #222222;
    height: 3px;
    display: block;
    position: relative;
  }
  .phone-btn .phone-burger::before {
    content: "";
    position: absolute;
    width: 35px;
    background: #222222;
    top: 12px;
    right: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  .phone-btn .phone-burger::after {
    content: "";
    position: absolute;
    width: 35px;
    background: #222222;
    top: -12px;
    right: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  .phone-btn.opened .phone-burger {
    background: transparent;
  }
  .phone-btn.opened .phone-burger::before {
    transform-origin: left;
    transform: rotate(-45deg);
  }
  .phone-btn.opened .phone-burger::after {
    transform-origin: left;
    transform: rotate(45deg) translateY(-1px);
  }
  .header-grid {
    position: absolute;
    grid-template-columns: none;
    top: 0;
    left: 110%;
    width: 100%;
    overflow: auto;
    padding-bottom: 15px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    background: rgb(245, 227, 224);
  }
  .opened .header-grid {
    transition: left 0.5s;
    left: 0;
  }
  .header-main-menu {
    align-self: center;
    transition: all 0.3s ease-in-out;
    padding-top: 160px;
  }
  .header-main-additional {
    position: relative;
    right: 106%;
    align-items: center;
  }
  .opened .header-main-additional {
    right: 0;
    transition: 1.1s ease-in-out;
  }
}
.hero {
  padding-top: 290px;
  padding-bottom: 237px;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-text {
  font-family: "Mrs Saint Delafield";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #D05278;
}

.hero-main {
  max-width: 690px;
}

.big-text {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  color: #222222;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.p-big {
  max-width: 456px;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #666666;
  margin-bottom: 20px;
}

.btn {
  color: white;
  background: #222222;
  padding: 23px 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
}

@media (max-width: 320px) {
  .big-text {
    font-size: 60px;
  }
}
.container-middle {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #222222;
  padding-top: 65px;
  padding-bottom: 20px;
}

.footer-main {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.footer-main-logo {
  text-align: center;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.find-descroption {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  padding-bottom: 15px;
}

.footer-main {
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 60px;
}
.footer-main::before {
  content: "";
  width: 100%;
  max-width: 1140px;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
}

.footer-menu {
  position: relative;
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 60px;
  margin-bottom: 15px;
}
.footer-menu::before {
  content: "";
  width: 100%;
  max-width: 1140px;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
}

.title-main-head {
  margin-bottom: 35px;
  display: block;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-transform: capitalize;
  color: #FFFFFF;
}

.submenu-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #BBBBBB;
  padding-left: 15px;
}
.submenu-link::before {
  content: "";
  position: absolute;
  background: url("../assets/icons/Vector.png");
  width: 5px;
  height: 8px;
  left: 0;
  top: 7px;
}

.submenu-contact {
  padding-left: 35px;
}

.contact-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #BBBBBB;
}

.submenu-contact:not(:last-child) {
  padding-bottom: 20px;
}

.submenu-contact svg {
  position: absolute;
  left: -35px;
  top: 5px;
}

.phone-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}

.footer-copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #999999;
  text-align: center;
}

.footer-mobile-opener {
  display: none;
}

@media (max-width: 1146px) {
  .footer-main {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
  .footer-main-logo {
    grid-row: 1;
    align-self: end;
  }
  .footer-menu {
    grid-template-columns: none;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
  }
  .footer-submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .title-main-head {
    margin-bottom: 15px;
  }
  .footer-title-main {
    position: relative;
  }
  .footer-mobile-opener {
    position: absolute;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    top: 5px;
  }
  .footer-mobile-opener svg {
    transition: all 0.3s ease-in-out;
  }
}
.product {
  padding-top: 170px;
  padding-bottom: 130px;
}

.container-big {
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.product-main {
  text-align: center;
  max-width: 470px;
  margin: 0 auto;
}

.main-text-general {
  font-family: "Mrs Saint Delafield";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #D05278;
}

.product-tabs {
  padding-top: 60px;
}

.container-product {
  max-width: 1720px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tabs-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
  grid-auto-columns: max-content;
  justify-content: center;
  gap: 15px;
}

.tabs-header-item {
  background: #FAF9FF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  padding: 7px 30px;
  color: #666666;
  cursor: pointer;
  border: 1px solid #EEEEEE;
}
.tabs-header-item:hover {
  background: #D05278;
  color: white;
}

.tabs-active {
  background: #D05278;
  color: white;
}

.tabs-content-wrapper {
  position: relative;
  overflow: hidden;
}

.tabs-content-main {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.cart-title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 35px;
}
.cart-title a {
  color: #222222;
}

.cart-price {
  text-align: center;
  padding-top: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 10px;
  justify-content: center;
}

.old-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  text-decoration-line: line-through;
  color: #999999;
}

.new-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #666666;
}

.cart-image {
  position: relative;
  max-width: 400px;
}

.image-lable {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #A3D2A2;
  padding: 10px 25px;
  z-index: 1;
}

.red {
  background: rgba(208, 82, 120, 0.7);
}

.cart-image-main {
  width: 100%;
  vertical-align: bottom;
}

.tabs-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabs-content-main {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.content-active {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.cart-overlay {
  position: absolute;
  background: rgba(177, 174, 174, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.cart-overlay:hover {
  opacity: 1;
}

.overlay-search {
  position: absolute;
  left: calc(50% - 30px);
  top: 45%;
  max-width: 70px;
}

.overlay-add {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 80px);
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.swiper-button-prev, .swiper-button-next {
  width: 40px;
}
.swiper-button-prev::after, .swiper-button-next::after {
  color: #999999;
}

.container-logos {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logos {
  padding-top: 10px;
  padding-bottom: 130px;
}

.logos-main {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .logos-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
}
@media (max-width: 600px) {
  .logos-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
  }
}
.discount {
  padding-top: 270px;
  padding-bottom: 210px;
}

.discount-main {
  max-width: 560px;
  margin-left: 50%;
}

@media (max-width: 740px) {
  .discount-main {
    margin-left: 0;
  }
}
.discount-main span {
  color: #D05278;
  position: relative;
  display: inline-block;
}
.discount-main span::before {
  content: "";
  background: url("../assets/Vectorobject.png");
  position: absolute;
  left: 0;
  top: -25px;
  width: 150%;
  height: 150%;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container-advantages {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.advantages-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage-main-title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  padding-top: 55px;
  /* identical to box height, or 42px */
  text-align: center;
  text-transform: capitalize;
  color: #222222;
}

.advantage-main-image {
  text-align: center;
  position: relative;
}
.advantage-main-image::before {
  content: "";
  background: url("../assets/Vectorobject.png");
  position: absolute;
  left: 37%;
  top: -5px;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantage-main-text {
  text-align: center;
  padding: 0 20px;
}

@media (max-width: 950px) {
  .advantage-main-image::before {
    left: 33%;
  }
}
@media (max-width: 750px) {
  .advantages-main {
    grid-template-columns: repeat(1, 1fr);
  }
  .advantage-main-image::before {
    left: 43%;
  }
  .advantage-main-text .lato-small {
    max-width: 100%;
  }
}
@media (max-width: 510px) {
  .advantage-main-image::before {
    left: 38%;
  }
}
.categories-main-header {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.categories {
  margin-top: 15px;
  margin-bottom: 15px;
}

.categories-main-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px;
}

.categories-main-images-item {
  position: relative;
}
.categories-main-images-item img {
  width: 100%;
  vertical-align: bottom;
}

.big-indent {
  padding-top: 120px;
  padding-bottom: 170px;
}

@media (hover) {
  .categories-overlay {
    position: absolute;
    background: rgba(177, 174, 174, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .categories-overlay:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .categories-overlay {
    position: absolute;
    background: rgba(177, 174, 174, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}
.overlay-items {
  position: absolute;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
  left: calc(40% - 10px);
  bottom: 50%;
}

.overlay-text {
  position: relative;
  max-width: 150px;
  z-index: 2;
}
.overlay-text::before {
  content: "";
  background: url("../assets/categories/bg.png");
  position: absolute;
  left: 5%;
  top: -10px;
  width: 105%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.overlay-link {
  padding-top: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  text-transform: uppercase;
}
.overlay-link a {
  color: #FFFFFF;
  position: relative;
  padding-bottom: 5px;
}
.overlay-link a::before {
  content: "";
  background: url("../assets/categories/Arrow 1.png");
  position: absolute;
  left: 30px;
  top: 20px;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1024px) {
  .overlay-items {
    left: 32%;
    bottom: 40%;
  }
}
@media (max-width: 900px) {
  .categories-main-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .overlay-items {
    left: 39%;
  }
}
@media (max-width: 700px) {
  .overlay-items {
    left: 38%;
  }
}
@media (max-width: 600px) {
  .categories-main-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .overlay-items {
    left: 32%;
  }
}
.info-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  padding-top: 15px;
  padding-bottom: 20px;
}

.info-main-bg-text {
  padding: 180px 390px 180px 105px;
  background: #FAF9FF;
}

.info-main-bg-text-red {
  padding: 180px 105px 180px 390px;
  background: #FCEDEA;
}

.button-holder-video {
  padding-top: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  text-transform: uppercase;
}
.button-holder-video a {
  position: relative;
  color: #222222;
  padding-left: 50px;
}
.button-holder-video a::before {
  content: "";
  position: absolute;
  background: url("../assets/info/video.png");
  width: 24px;
  height: 24px;
  top: -2px;
  left: 0;
}
.button-holder-video a::after {
  content: "";
  position: absolute;
  background: url("../assets/info/Arrow.png");
  width: 50px;
  height: 13px;
  top: 2px;
  right: -80px;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.button-holder-video a:hover::after {
  right: -90px;
}

.info-main-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.info-main-video {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.info-main-video::before {
  content: "";
  position: absolute;
  background-color: rgba(177, 174, 174, 0.6);
  left: 0;
  width: 100%;
  height: 100%;
}

.info-main-video-text {
  position: relative;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  padding-top: 230px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.info-main-video {
  text-align: center;
}

.video {
  background: transparent;
  border: none;
  cursor: pointer;
}

.play-btn {
  display: block;
  position: relative;
}
.play-btn::before {
  content: "";
  position: absolute;
  background: url("../assets/info/btnplay.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  left: -100px;
}

@media (max-width: 1600px) {
  .info-main-bg-text {
    padding: 180px 180px 180px 105px;
  }
  .info-main-bg-text-red {
    padding: 180px 105px 180px 180px;
  }
}
@media (max-width: 1150px) {
  .info-main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(650px, auto);
  }
  .info-main-video {
    min-height: 750px;
  }
  .info-main-bg-text-red {
    padding: 180px 180px 180px 105px;
  }
  .lato-small {
    margin: 0;
  }
}
@media (max-width: 700px) {
  .info-main-bg-text {
    padding: 50px;
  }
  .info-main-bg-text-red {
    padding: 50px;
  }
}
.image-label {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}

.image-lable-sale {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #A3D2A2;
  padding: 10px 25px;
}

.image-lable-new {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(208, 82, 120, 0.7);
  padding: 10px 25px;
}

.blog-main {
  text-align: center;
}
.blog-main .lato-small {
  margin: 0 auto;
}

.blog {
  padding-top: 30px;
  padding-bottom: 85px;
}

.blog-posts {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  row-gap: 50px;
}

.blog-posts-item {
  position: relative;
}

.blog-image-date {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin: 10px;
  padding: 24px;
  z-index: 10;
  text-align: center;
  /* dark */
  color: #222222;
}
.blog-image-date::after {
  content: "";
  position: absolute;
  background: url("../assets/blog/Vector.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 1px;
  right: 1px;
  background-repeat: no-repeat;
}

.blog-image-link img {
  width: 100%;
}

.month {
  font-size: 16px;
  padding-bottom: 5px;
}

.date {
  font-size: 24px;
}

.blog-posts-item-title {
  display: inline-block;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-top: 40px;
  text-transform: capitalize;
  color: #222222;
}

.blog-posts-item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  padding-top: 15px;
}

.blog-link {
  position: relative;
  display: inline-block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-transform: uppercase;
  margin-top: 25px;
  color: #D05278;
  padding-right: 15px;
}
.blog-link::before {
  content: "";
  position: absolute;
  background: url("../assets/blog/Arrow.png");
  background-repeat: no-repeat;
  width: 50%;
  height: 35%;
  right: -45px;
  top: 8px;
  transition: all 0.3s ease-in-out;
}
.blog-link:hover::before {
  right: -55px;
}

.blog-btn {
  text-align: center;
  margin-top: 25px;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.pagination-items {
  display: flex;
  gap: 5px;
  position: relative;
}

.current {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #EEEEEE;
  background: #222222;
  padding: 20px 15px;
}

.page-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #222222;
  border: 1px solid #EEEEEE;
  background: #FAF9FF;
  padding: 20px 15px;
}

.prew {
  opacity: 0.5;
  transform: rotate(180deg);
  pointer-events: none;
  text-align: center;
  position: absolute;
  border: 1px solid #EEEEEE;
  background: #FAF9FF;
  padding: 22px 15px;
  left: -65px;
  display: flex;
  align-items: center;
}

.next {
  display: flex;
  align-items: center;
  position: absolute;
  border: 1px solid #EEEEEE;
  background: #FAF9FF;
  padding: 22px 15px;
  right: -65px;
}

@media (max-width: 700px) {
  .blog-posts {
    grid-template-columns: 1fr;
  }
}
.form-main {
  background: #FCEDEA;
  position: relative;
}
.form-main::before {
  content: "";
  position: absolute;
  width: 32%;
  height: 100%;
  left: 10px;
  background: url("../assets/form/img.png");
  background-repeat: no-repeat;
  top: 7px;
  left: 70px;
  z-index: 0;
}

.form {
  padding-top: 85px;
  padding-bottom: 65px;
}

.form-main-holder {
  position: relative;
  z-index: 1;
}

.text-title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  text-transform: capitalize;
  color: #222222;
}

.text-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  padding-bottom: 30px;
}

.form-main {
  padding-left: 45%;
  padding-top: 65px;
  padding-bottom: 65px;
}

.form-btn {
  background: #222222;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  padding: 23px 50px;
}

.form-input {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #999999;
  padding: 19px 30px;
  outline: none;
  width: 350px;
}

@media (max-width: 1020px) {
  .form-main::before {
    content: "";
    display: none;
  }
  .form-main {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-btn {
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .form-input {
    width: 250px;
  }
}
.insta-overlay {
  position: absolute;
  background: rgba(177, 174, 174, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.insta-overlay svg {
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}

.insta-main-item {
  position: relative;
}
.insta-main-item img {
  vertical-align: bottom;
  width: 100%;
}
.insta-main-item:hover .insta-overlay {
  opacity: 1;
}

.insta-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1199px) {
  .insta-main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .insta-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hero-small {
  position: relative;
  padding-top: 190px;
  padding-bottom: 165px;
}

.hero-small-main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.breadcrumbs {
  padding-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  align-items: center;
  color: #666666;
}
.breadcrumbs span {
  padding-left: 5px;
  padding-right: 5px;
}

.span-active {
  color: #D05278;
}

.icon-image {
  position: relative;
  display: inline-block;
}
.icon-image::before {
  content: "";
  background: url("../assets/Vectorobject.png");
  position: absolute;
  left: -7px;
  top: -4px;
  width: 137%;
  height: 154%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-text-head {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #222222;
}

.icon-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
}

.icon-boxes-item {
  padding: 25px 45px;
  display: flex;
  gap: 40px;
  background: #FAF9FF;
  border: 1px solid #EEEEEE;
  max-width: 350px;
}

.icon-boxes {
  position: absolute;
  bottom: -50px;
  z-index: 10;
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  justify-content: center;
}

.icon-text {
  padding-right: 45px;
}

@media (max-width: 1125px) {
  .icon-boxes {
    position: relative;
    grid-auto-flow: row;
  }
  .icon-text {
    padding-right: 0;
  }
}
.video-main {
  text-align: center;
}

.about-video {
  padding-top: 220px;
  padding-bottom: 180px;
}

.about-video-holder {
  margin-top: 60px;
}
.about-video-holder iframe {
  width: 100%;
  height: 550px;
}

.about-video-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 135px;
  margin-top: 100px;
}

.boxes-count {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #D05278;
}

.boxes-text {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
  padding-top: 30px;
}

@media (max-width: 1070px) {
  .about-video-boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}
@media (max-width: 500px) {
  .about-video-boxes {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
.about-discount {
  max-width: 400px;
}

.lato-small {
  margin: 0;
}

.testimonials {
  padding-top: 30px;
  padding-bottom: 90px;
}

.container-testimonials {
  max-width: 850px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.testimonials-header {
  text-align: center;
}

.testimonials-main-item-text {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #666666;
  padding: 60px 135px;
}

.testimonials-main-item-name {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
}

.testimonials-main-item-image {
  text-align: center;
  margin-bottom: 10px;
}
.testimonials-main-item-image img {
  border-radius: 25px;
}

.testimonials-main {
  position: relative;
}

.testimonial-main-swiper {
  overflow: hidden;
}

.testimonial-main-swiper .swiper-button-next, .testimonial-main-swiper .swiper-button-prev {
  top: 32%;
  background: #FAF9FF;
}
.testimonial-main-swiper .swiper-button-next::after, .testimonial-main-swiper .swiper-button-prev::after {
  font-size: 23px;
}

.testimonial-main-swiper .swiper-button-prev {
  left: -45px;
}

.testimonial-main-swiper .swiper-button-next {
  right: -45px;
}

@media (max-width: 950px) {
  .testimonial-main-swiper .swiper-button-prev {
    left: 10px;
  }
  .testimonial-main-swiper .swiper-button-next {
    right: 10px;
  }
  .testimonials-main-item-text {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    padding: 60px 60px;
  }
}
.title {
  padding-top: 245px;
  padding-bottom: 70px;
}

.title-main-content .lato-small {
  max-width: 100%;
}

.content-head {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  color: #222222;
}

.socials-head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #222222;
  align-self: end;
}

.title-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.socials-holder {
  display: flex;
  gap: 10px;
}

.title-main-socials {
  display: grid;
  justify-content: end;
  gap: 10px;
  padding-left: 25px;
}

@media (max-width: 800px) {
  .title {
    padding-top: 100px;
  }
  .title-main {
    row-gap: 30px;
    grid-template-columns: 1fr;
  }
  .title-main-socials {
    justify-content: center;
    padding-left: 0px;
  }
}
.form-write-holder {
  margin-top: 50px;
}

.form-write-holder .form-input {
  width: 470px;
  margin-bottom: 10px;
}

textarea {
  height: 120px;
}

@media (max-width: 960px) {
  .form-write-holder .form-input {
    width: 350px;
    margin-bottom: 10px;
  }
}
@media (max-width: 740px) {
  .form-write-holder .form-input {
    width: 470px;
    margin-bottom: 10px;
  }
}
@media (max-width: 510px) {
  .form-write-holder .form-input {
    width: 320px;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .form-write-holder .form-input {
    width: 280px;
    margin-bottom: 10px;
  }
}
.map img {
  vertical-align: bottom;
  height: 400px;
  width: 100%;
}

@media (max-width: 900px) {
  .map img {
    height: 200px;
  }
}
.faq {
  padding-top: 170px;
}

.faq-main-list li {
  position: relative;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #222222;
  margin-bottom: 70px;
  transition: all 0.3s ease-in-out;
  padding-left: 45px;
}
.faq-main-list li::before {
  content: "";
  position: absolute;
  width: 95%;
  bottom: -15px;
  left: 20px;
  border: 1px solid #EEEEEE;
}
.faq-main-list li::marker {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #222222;
}

.faq-main-list p {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  padding-left: 100px;
  padding-right: 120px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.faq-main-list p::before {
  content: "";
  position: absolute;
  width: 95%;
  bottom: 20px;
  left: 20px;
  border: 1px solid #EEEEEE;
}

.list-pseudo {
  background: url("../assets/Vectorobject.png");
  position: absolute;
  left: -29px;
  top: 2px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.list-open {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FAF9FF;
  border-radius: 50%;
  right: 0;
  top: 26px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}
.list-open::before, .list-open::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  border: 1px solid black;
  left: calc(50% - 5px);
  top: 50%;
  transition: all 0.3s ease-in-out;
}
.list-open::after {
  transform: rotate(90deg);
}

.faq-main-list li.active {
  color: #D05278;
  transition: all 0.3s ease-in-out;
}

.faq-main-list .active + p {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.faq-main-list li.active .list-open::after {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 450px) {
  .faq-main-list li {
    padding-right: 35px;
  }
  .list-open {
    top: 0;
  }
  .faq-main-list p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shop {
  padding-top: 180px;
}

.shop-main {
  display: grid;
  grid-template-columns: 235px 1fr;
  gap: 60px;
}

.search-holder {
  position: relative;
}

.search-holder input {
  border: 1px solid #FCEDEA;
  height: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #999999;
  padding: 18px 30px;
  padding-right: 50px;
  outline: none;
  width: 100%;
}
.search-holder input:focus {
  border-color: #e4808d;
  background-color: #fff;
}

.search-holder button {
  line-height: inherit;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.categories-holder {
  margin-top: 30px;
}

.filter-title {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  position: relative;
  text-transform: capitalize;
  color: #222222;
  padding-bottom: 12px;
}
.filter-title::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #222222;
  width: 100%;
  bottom: 0;
}

.filter-categories {
  padding-top: 15px;
}
.filter-categories li {
  position: relative;
  padding-bottom: 12px;
  padding-top: 12px;
}
.filter-categories li::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
  bottom: 0;
}
.filter-categories li a:hover {
  color: #e4808d;
}

.filter-categories li a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
}
.filter-categories li a span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  padding-left: 10px;
  text-align: right;
  color: #999999;
}

.price-filter-holder {
  margin-top: 30px;
}

.price-slider {
  margin-top: 30px;
}

.price-slider-values {
  display: flex;
  justify-content: space-between;
}

.price-slider-values input {
  padding: 5px 10px;
  max-width: 75px;
  border: 1px solid #FCEDEA;
  outline: none;
  -moz-appearance: textfield;
  appearance: textfield;
}
.price-slider-values input:focus {
  border-color: #e4808d;
  background-color: #fff;
}

.price-slider-main {
  height: 3px;
  background: #999999;
  margin-top: 30px;
  position: relative;
}
.price-slider-main .progress {
  background: #D05278;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
}

.price-slider-bar {
  position: relative;
}
.price-slider-bar input {
  position: absolute;
  top: -5px;
  left: -2px;
  height: 3px;
  width: 100%;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #D05278;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;
}

input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #D05278;
  -moz-appearance: none;
  appearance: none;
  pointer-events: auto;
}

input[type=range]::-ms-track {
  -webkit-appearance: none;
  appearance: none;
}

.main-product-filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.filters-checkbox {
  display: flex;
  gap: 20px;
}

.checkbox-item {
  background: #FAF9FF;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #EEEEEE;
  padding: 8px 17px;
}
.checkbox-item input {
  width: 15px;
  height: 15px;
}
.checkbox-item label {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #666666;
}

.filter-select {
  justify-self: end;
}
.filter-select select {
  padding: 7px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  background: #FAF9FF;
  border: 1px solid #EEEEEE;
}

@media (max-width: 830px) {
  .main-product-filters {
    display: grid;
    grid-template-columns: none;
    gap: 15px;
  }
  .filter-select {
    justify-self: start;
  }
}
.shop-main-product-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1020px) {
  .shop-main-product-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .shop-main-product-items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .shop-main {
    grid-template-columns: 1fr;
  }
  .shop-main-product-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 460px) {
  .shop-main-product-items {
    grid-template-columns: 1fr;
  }
}