@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("../assets/fonts/stylesheet.css");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, h1, p, ul, li, button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-promo {
  position: relative;
  background: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-promo-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
  padding: 13px 35px;
}

.close-promo {
  position: absolute;
  right: 15px;
  top: 10px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.header-main {
  padding-top: 30px;
  background: rgba(159, 156, 156, 0.15);
}

.header-main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 75px 1fr;
  -ms-grid-columns: min-content 75px 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-min-content;
  -ms-grid-columns: 1fr min-content;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
}

.menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header-main-additional {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}

.menu-item-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
}
.menu-item-link:hover {
  color: #D05278;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-item-link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 31%;
  top: -5px;
  width: 25.45px;
  height: 30px;
  background: url("../assets/icons/hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-item-link:hover::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.phone-btn {
  display: none;
}

.menu-item .active {
  color: #D05278;
}

@media (max-width: 1146px) {
  .header-main-wrapper {
    text-align: center;
    display: block;
  }

  .header-main {
    background: none;
    padding-bottom: 25px;
  }

  .menu {
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 25px;
  }

  .menu-item-link {
    font-size: 26px;
  }

  .header-main-additional {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 35px;
  }

  .header-promo {
    z-index: 10000;
  }

  .header-promo-text {
    line-height: 18px;
  }

  .logo-link img {
    position: relative;
  }

  .header-main-logo {
    position: relative;
    z-index: 100;
  }
  .header-main-logo::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -30px;
    background: rgb(245, 227, 224);
    width: 109%;
    height: 100%;
    padding: 50px;
  }

  .phone-btn {
    display: block;
    position: absolute;
    border: none;
    background: transparent;
    top: 5px;
    right: 0;
    padding: 12px 0;
    cursor: pointer;
  }
  .phone-btn .phone-burger {
    width: 35px;
    background: #222222;
    height: 3px;
    display: block;
    position: relative;
  }
  .phone-btn .phone-burger::before {
    content: "";
    position: absolute;
    width: 35px;
    background: #222222;
    top: 12px;
    right: 0;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .phone-btn .phone-burger::after {
    content: "";
    position: absolute;
    width: 35px;
    background: #222222;
    top: -12px;
    right: 0;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .phone-btn.opened .phone-burger {
    background: transparent;
  }
  .phone-btn.opened .phone-burger::before {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .phone-btn.opened .phone-burger::after {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg) translateY(-1px);
            transform: rotate(45deg) translateY(-1px);
  }

  .header-grid {
    position: absolute;
    -ms-grid-columns: none;
    grid-template-columns: none;
    top: 0;
    left: 110%;
    width: 100%;
    overflow: auto;
    padding-bottom: 15px;
    height: 100vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgb(245, 227, 224);
  }

  .opened .header-grid {
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    left: 0;
  }

  .header-main-menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 160px;
  }

  .header-main-additional {
    position: relative;
    right: 106%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .opened .header-main-additional {
    right: 0;
    -webkit-transition: 1.1s ease-in-out;
    transition: 1.1s ease-in-out;
  }
}
.hero {
  padding-top: 100px;
  padding-top: 500px;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-text {
  font-family: "Mrs Saint Delafield";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #D05278;
}

.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #222222;
  padding-top: 65px;
  padding-bottom: 20px;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-columns: min-content 1fr min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
}

.footer-main-logo {
  text-align: center;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.find-descroption {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  padding-bottom: 15px;
}

.footer-main {
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 60px;
}
.footer-main::before {
  content: "";
  width: 100%;
  max-width: 1140px;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
}

.footer-menu {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 45px;
  -ms-grid-columns: 1fr 45px 1fr 45px 1fr 45px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 60px;
  margin-bottom: 15px;
}
.footer-menu::before {
  content: "";
  width: 100%;
  max-width: 1140px;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
}

.title-main-head {
  margin-bottom: 35px;
  display: block;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-transform: capitalize;
  color: #FFFFFF;
}

.submenu-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #BBBBBB;
  padding-left: 15px;
}
.submenu-link::before {
  content: "";
  position: absolute;
  background: url("../assets/icons/Vector.png");
  width: 5px;
  height: 8px;
  left: 0;
  top: 7px;
}

.submenu-contact {
  padding-left: 35px;
}

.contact-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #BBBBBB;
}

.submenu-contact:not(:last-child) {
  padding-bottom: 20px;
}

.submenu-contact svg {
  position: absolute;
  left: -35px;
  top: 5px;
}

.phone-link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}

.footer-copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #999999;
  text-align: center;
}

.footer-mobile-opener {
  display: none;
}

@media (max-width: 1146px) {
  .footer-main {
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
  .footer-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-main > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer-main > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .footer-main-logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-align: end;
        align-self: end;
  }

  .footer-menu {
    -ms-grid-columns: none;
    grid-template-columns: none;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
  }

  .footer-submenu {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .title-main-head {
    margin-bottom: 15px;
  }

  .footer-title-main {
    position: relative;
  }

  .footer-mobile-opener {
    position: absolute;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    top: 5px;
  }

  .footer-mobile-opener svg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}