.title {
    padding-top: 245px;
    padding-bottom: 70px;
}

.title-main-content .lato-small {
    max-width: 100%;
}

.content-head {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-transform: capitalize;
    color: #222222;
}

.socials-head {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #222222;
    align-self: end;

}
.title-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.socials-holder {
    display: flex;
    gap: 10px;
}
.title-main-socials {
    display: grid;
    justify-content: end;
    gap: 10px;
    padding-left: 25px;
}
@media (max-width: 800px) {
    .title {
        padding-top: 100px;
        
    }
    .title-main {
        row-gap: 30px;
        grid-template-columns: 1fr;
    }
    .title-main-socials{
        justify-content: center;
        padding-left: 0px;
    }
}