.shop {
    padding-top: 180px;
}
.shop-main {
    display: grid;
    grid-template-columns: 235px 1fr;
    gap: 60px;
}
.search-holder {
    position: relative;
}
.search-holder input {
    border: 1px solid #FCEDEA;
    height: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #999999;
    padding: 18px 30px;
    padding-right: 50px;
    outline: none;
    width: 100%;
    &:focus {
        border-color: #e4808d;
        background-color: #fff;
    }
}
.search-holder button {
    line-height: inherit;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.categories-holder {
    margin-top: 30px;
}
.filter-title {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    position: relative;
    text-transform: capitalize;
    color: #222222;
    padding-bottom: 12px;
    &::before{
        content: "";
        position: absolute;
        border-bottom: 1px solid #222222;
        width: 100%;
        bottom: 0;
    }
}
.filter-categories {
    padding-top: 15px;
    
    li {
        position: relative;
        padding-bottom: 12px;
        padding-top: 12px;
        &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid #EEEEEE;
                width: 100%;
                bottom: 0;
            }
         a:hover {
            color: #e4808d;
        }
    }
}
.filter-categories li a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #666666;
    span {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 170%;
           padding-left: 10px;
            text-align: right;
            color: #999999;
        }
}
.price-filter-holder {
    margin-top: 30px;
}
.price-slider {
    margin-top: 30px;
}
.price-slider-values {
    display: flex;
    justify-content: space-between;
}
.price-slider-values input {
    padding: 5px 10px;
    max-width: 75px;
    border: 1px solid #FCEDEA;
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
    &:focus {
        border-color: #e4808d;
        background-color: #fff;
    }
}
.price-slider-main {
    height: 3px;
    background: #999999;
    margin-top: 30px;
    position: relative;
    .progress {
        background: #D05278;
        height: 3px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        right: 0;
    }
}
.price-slider-bar{
    position: relative;
    input {
        position: absolute;
        top: -5px;
        left: -2px;
        height: 3px;
        width: 100%;
        background: none;
        appearance: none;
        -webkit-appearance: none;
        pointer-events: none;
       
    }
}
input[type='range']::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #D05278;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    
}
input[type='range']::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #D05278;
    -moz-appearance: none;
    appearance: none;
    pointer-events: auto;
    
}
input[type='range']::-ms-track{
    -webkit-appearance: none;
    appearance: none;
}